.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  /* background: url('../img/back.jpg');
   */
   background: #222;
  background-size: contain;
  height: 670px;;
  color:  white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.dashboard-wrapper {
  width: 92%;
  height: auto;
  margin: 0 auto;
}

.project {
  float: left;
  font-size: xx-large;
  font-family: initial;
}

.show-add-project {
  margin: 20px 0px;
}

.add-new-project {
  float: right;
}

.search-btn {
  float: right;
}

.search-btn button {
  background-color: #3fb53f;
  height: 26px;
  border: none;
  border-radius: 0px;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.instance-key-wrapper {
  width: 400px;

  font-size: 15px;
  color: black;
  background: red;
  word-wrap: break-word;
}

.login-wrapper,
.signUp-Wrapper {
  height: auto;
  background-color:lightslategray;
  padding-bottom: 10px;
  margin: 100px auto;
  display: block;
  width: 400px;
}



form {
  display: block;
  margin:  0 auto;
  padding: 20px;
 

}

.login-form-header,
.signUp-form-header {
  text-align: center;
  background-color: green;
  padding: 10px;
  font-weight: bolder;
  color: #d8d0d0;
  font-size: 1.3em;
  width: 100%;
}

.login-btn,
.signUp-btn {
  width: 60%;
  border: none;
  border-radius: 0px;
  background-color: #000;
  color: #d8d0d0;
  font-size: 0.8em;
  padding: 10px;
  margin: 15px auto;
  display: block;
}

.redirect-SignUp,
.redirect-LogIn {
padding-left: 20px;
}

.redirect-SignUp a {
  text-decoration: none;
}

.redirect-LogIn a {
  text-decoration: none;
}

.redirect-LogIn a:hover {
  color: wheat;
}

.redirect-SignUp a:hover {
  color: wheat;
}
.my-table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.my-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #807171;
  color: white;
}

.my-table tr,
td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  background-color: #ffffff;
  text-align: center;
}

.td:hover {
  background-color: aqua;
  cursor: pointer;
}

.td a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  color: black;
}

.td a:hover {
  color: #4caf50;
}

.header {
  width: 100%;
  background-color: #3fb53f;
  padding: 10px 0px;
}

.title {
  float: left;
}

.header-dashboard-wrapper {
  width: 92%;
  margin-left: 53px;
}

.user {
  float: right;
}

/* for react modal animation */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* css for react modal of add and delete project */

.modal-AddProject {
  position: relative;
  width: 250px;
  /* height:250px; */
  top: 25%;
  margin: auto auto;
  background-color: rgb(244, 244, 244);
}
.add-project-modal-header {
  background-color: #00b44e;
  text-align: center;
  padding: 10px;
}
.add-project-modal-header span {
  float: right;
  color: #ffffff;
  cursor: pointer;
}
.add-project-form-wrapper {
  padding: 20px;
  width: 100%;
}

.add-project-form-wrapper input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 0px;
  background-color: #d8d0d0;
  margin: 5px 0px;
}
.add-project-form-wrapper button {
  border-radius: 0px;
  background-color: #00b44e;
  border: none;
  padding: 10px;
  width: 50%;
  display: block;
  margin: 5px auto;
}

.delete-Info img {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.error{
color: red;
  
}
/* css for react modal of add project ends */
