.header-Head {
  background-color: #000000;
}

.header-Wrapper {
  width: 96.5%;
  margin: 0 auto;
}
.header-Wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-Wrapper li {
  float: left;
}

.header-Wrapper li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
}


