.user-Header-Head {
 
}

.user-Header-Wrapper {
  width: 92%;
  height: auto;
  margin: 0 auto;
}
.user-Header-Wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-Header-Wrapper li {
  float: right;
}

.user-Header-Wrapper li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding: 15px 18px;
}

.user-Header-Wrapper li a:hover {
  background-color: #3fb53f;
}

.header-title{
  margin:  0 auto;
  font-size: 30px;
}