.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.dashboard-wrapper {

  width: 1250px;
  height: auto;
  margin: 0 auto;
}


.project{
  float: left;
  font-size: xx-large;
  font-family: initial;
}

.show-add-project{
  margin: 20px 0px;
}


.add-new-project{
  float: right;
 
  }

.search-btn{
  float: right;
  
}

.search-btn button{
  background-color: #3fb53f;
  height: 26px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.instance-key-wrapper {
  width: 400px;

  font-size: 15px;
  color: black;
  background: red;
  word-wrap: break-word;
}

.login-wrapper,.signUp-Wrapper{
  height: auto;
  width: auto;
  position: absolute;
  top: 25%;
  left: 40%;
  background-color: #00b44e;
}




.form{
  height: auto;
  width: 300px;
  padding-top: 30px;
}

.form input{
  margin-bottom: 5px;
  margin-left: 25px;
 
}

.login-btn,.signUp-btn{
  margin-left: 55px;
  width: 60%;
  height: 30px;
  margin-top: 20px;
  background-color: antiquewhite;
}

.redirect-SignUp,.redirect-LogIn{
  text-align: center;
}

.redirect-SignUp a{
  text-decoration: none;
}

.redirect-LogIn a{
  text-decoration: none;
}

.redirect-LogIn a:hover{
  color: wheat;
}

.redirect-SignUp a:hover{
  color: wheat;
}
.my-table
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.my-table th
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #807171;
  color: white;

}

.my-table tr,td
{
  /* border: 1px solid #ddd; */
  padding: 8px;
  background-color: #FFFFFF;
  text-align: center;
}

.td:hover{
  background-color: aqua;
  cursor: pointer;
}

.td a{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  color: black;
  
}

.td a:hover{
  color: #4CAF50
}

.header{
  width: 100%;
  background-color: #3fb53f;
  padding: 10px 0px;
}

.title{
  float: left;
}

.header-wrapper{
  width: 1250px;
  margin-left: 53px;
}

.user{
  float: right;
}


/* css for header.js */
.header-Head{
  background-color: #000000;
}


.header-Wrapper{
  width: 1250px;
  height: auto;
  margin: 0 auto;
}
.header-Wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.header-Wrapper li {

  float: left;
}

.header-Wrapper li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding: 15px 18px;
}

.header-Wrapper li a:hover {
  background-color: #3fb53f;
}

/* css for header.js ends */


/* css for UserActionHeader.js */
.user-Header-Head{
  background-color: #000000;
}


.user-Header-Wrapper{
  width: 1250px;
  height: auto;
  margin: 0 auto;
}
.user-Header-Wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.user-Header-Wrapper li {
  float: right;
}

.user-Header-Wrapper li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding: 15px 18px;
}

.user-Header-Wrapper li a:hover {
  background-color: #3fb53f;
}

/* css for UserActionHeader.js ends */

